<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
        <body>
            {{> header}}
            <p>{{pageTitle}}</p>
            <p>Portfolio items here</p>
            {{> footer}}
        </body>
    </head>
</html>